body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

input, textarea {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
